openapi: 3.0.1
info:
  title: FSL
  description: Fascicolo Sociale e Lavorativo del Cittadino
  contact:
    name: DG Innovazione
    email: dginnovazionediv3@lavoro.gov.it
  version: 1.0.0
  x-summary: Fascicolo Sociale e Lavorativo del Cittadino
  x-semantic-score: 0.49
  x-semantic-score-timestamp: 1775577135176
servers:
  - url: https://apimlpstest.lavoro.gov.it/rest
    description: FSL Test Environment
  - url: https://apimlps.lavoro.gov.it/rest
    description: FSL Production Environment
paths:
  /fsl/areasociale/v1/caso-per-misura:
    post:
      tags:
        - Gepi
      summary: Consultazione caso associato ad una misura
      description: Dato il numero di protocollo della misura, il servizio restituisce il Caso, in gestione agli assistenti sociali per la definizione del Patto per l’Inclusione Sociale (PaIS), in cui viene gestita una specifica domanda di inclusione sociale
      operationId: CasoAssociatoAMisura
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FSL.Api.Domain.Models.Gepi.CasoAssociatoMisura.CasoAssociatoMisura_Input'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FSL.Api.Domain.Models.Gepi.CasoAssociatoMisura.CasoAssociatoMisura_Output'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '404':
          description: Not Found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '500':
          description: Internal Server Error
  /status:
    get:
      tags:
        - Health Check API
      description: Returns the health status of this service
      operationId: HealthCheckStatus
      responses:
        '200':
          description: API service is healthy
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/FSL.Common.Support.Models.Api.HealthCheckSuccess'
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '500':
          description: Internal Server Error
        '503':
          description: API service is not healthy
components:
  schemas:
    FSL.Api.Domain.Models.Gepi.CasoAssociatoMisura.AnalisiPreliminare:
      type: object
      properties:
        nVersione:
          type: integer
          format: int32
        stato:
          type: string
        dataFinalizzazione:
          type: string
          nullable: true
      additionalProperties: false
      x-jsonld-type: https://w3id.org/italia/labour-social-policies/onto/social/AnalisiPreliminareDelCaso
      x-jsonld-context:
        "@vocab": https://w3id.org/italia/labour-social-policies/onto/social/
        nVersione: versioneAnalisiPreliminare
        stato: statusAnalisiPreliminare
        dataFinalizzazione: dataFinalizzazioneAnalisiPreliminare
      example:
        nVersione: 1
        stato: 'Finalizzato'
        dataFinalizzazione: '2025/01/01'

    FSL.Api.Domain.Models.Gepi.CasoAssociatoMisura.CasoAssociatoMisura_Input:
      required:
        - cFOperatore
        - modalitaAccesso
        - protocolloMisura
      type: object
      properties:
        codiceATS:
          type: string
          nullable: true
        comuni:
          type: array
          items:
            type: string
          nullable: true
        modalitaAccesso:
          type: integer
          format: int32
        cFOperatore:
          minLength: 1
          type: string
        protocolloMisura:
          minLength: 1
          type: string
      additionalProperties: false
    FSL.Api.Domain.Models.Gepi.CasoAssociatoMisura.CasoAssociatoMisura_Output:
      required:
        - data
        - esito
      type: object
      properties:
        esito:
          $ref: '#/components/schemas/FSL.Api.Domain.Models.Gepi.Esito'
        data:
          $ref: '#/components/schemas/FSL.Api.Domain.Models.Gepi.CasoAssociatoMisura.Data'
      additionalProperties: false

    FSL.Api.Domain.Models.Gepi.CasoAssociatoMisura.Data:
      type: object
      properties:
        identificativo:
          type: string
        referenteNucleo:
          type: string
          nullable: true
        stato:
          type: integer
          format: int32
        misure:
          type: array
          items:
            type: string
        nucleo:
          type: array
          items:
            $ref: '#/components/schemas/FSL.Api.Domain.Models.Gepi.CasoAssociatoMisura.Nucleo'
        istatComune:
          type: string
        codiceATS:
          type: string
        caseManager:
          type: string
          nullable: true
        dataCreazione:
          type: string
        dataUltimaModifica:
          type: string
          nullable: true
        presenzaEquipe:
          type: boolean
        analisiPreliminari:
          type: array
          items:
            $ref: '#/components/schemas/FSL.Api.Domain.Models.Gepi.CasoAssociatoMisura.AnalisiPreliminare'
          nullable: true
        quadriAnalisi:
          type: array
          items:
            $ref: '#/components/schemas/FSL.Api.Domain.Models.Gepi.CasoAssociatoMisura.QuadroAnalisi'
          nullable: true
        pattiInclusione:
          type: array
          items:
            $ref: '#/components/schemas/FSL.Api.Domain.Models.Gepi.CasoAssociatoMisura.PattoInclusione'
          nullable: true
      additionalProperties: false
      x-jsonld-type: https://w3id.org/italia/labour-social-policies/onto/social/CasoDiNucleoFragileOInPovertà
      x-jsonld-context:
        "@vocab": https://w3id.org/italia/labour-social-policies/onto/social/
        identificativo: https://w3id.org/italia/labour-social-policies/onto/core/identificativoAtto
        referenteNucleo: https://w3id.org/italia/onto/CPV/taxCode
        stato: statusDelCaso
        misure: https://w3id.org/italia/labour-social-policies/onto/core/protocolloMisuraDomandaPrestazioneDiSostegno
        nucleo:
          '@id': haNucleoFamiliareFragileOInPovertà
        istatComune:
          '@id': https://w3id.org/italia/onto/CLV/hasCity
          '@context':
              label: http://www.w3.org/2000/01/rdf-schema#label
        codiceATS:
          '@id': https://w3id.org/italia/labour-social-policies/onto/core/appartieneAdAmbitoTerritoriale
          '@type': '@id'
          '@context':
              "@base": 'https://w3id.org/italia/labour-social-policies/controlled-vocabulary/data/tipo_ambito_territoriale/'
              id: '@id'
        caseManager: https://w3id.org/italia/onto/CPV/taxCode
        dataCreazione: dataInizioGestioneCaso
        dataUltimaModifica: dataUltimoAggiornamentoCaso
        presenzaEquipe: avvisoPresenzaEquipeDiCaso
        analisiPreliminari:
          '@id': haAnalisiPreliminare
        quadriAnalisi:
          '@id': haQuadroDiAnalisi
        pattiInclusione:
          '@id': haPattoInclusioneSocialeDelCaso
      example:
        identificativo: 'GEPI-20250101-1'
        referenteNucleo: 'AAAAAA00A00A000A'
        stato: 0
        misure:
          - 'INPS-ADI-2024-9XXXX43'
        nucleo:
          - codiceFiscale: 'AAAAAA00A00A000A'
            attivo: True
            motivazioneDisattivazione: 'decesso'
        istatComune: '058091'
        codiceATS: '5-202004142240267'
        caseManager: 'AAAAAA00A00A000A'
        dataCreazione: '2025/07/12'
        dataUltimaModifica: '2025/01/01'
        presenzaEquipe: false
        analisiPreliminari:
          - nVersione: 1
            stato: 'Finalizzato'
            dataFinalizzazione: '2025/01/01'
        pattiInclusione:
          - dataFirma: '2025/01/31'


    FSL.Api.Domain.Models.Gepi.CasoAssociatoMisura.Nucleo:
      type: object
      properties:
        codiceFiscale:
          type: string
        attivo:
          type: boolean
        motivazioneDisattivazione:
          type: string
          nullable: true
      additionalProperties: false
      x-jsonld-type: https://w3id.org/italia/labour-social-policies/onto/social/ComponenteNucleoAttivoNelCaso
      x-jsonld-context:
        "@vocab": https://w3id.org/italia/labour-social-policies/onto/social/
        codiceFiscale: https://w3id.org/italia/onto/CPV/taxCode
        attivo: haComponenteAttivoNelCaso
        motivazioneDisattivazione: motivoDisattivazioneDaNucleoFamiliare
      example:
        codiceFiscale: 'AAAAAA00A00A000A'
        attivo: True
        motivazioneDisattivazione: 'decesso'

    FSL.Api.Domain.Models.Gepi.CasoAssociatoMisura.PattoInclusione:
      type: object
      properties:
        nVersione:
          type: integer
          format: int32
        stato:
          type: string
        dataFinalizzazione:
          type: string
          nullable: true
        dataFirma:
          type: string
          nullable: true
      additionalProperties: false
      x-jsonld-type: https://w3id.org/italia/labour-social-policies/onto/social/PattoInclusioneSocialeDelCaso
      x-jsonld-context:
        "@vocab": https://w3id.org/italia/labour-social-policies/onto/social/
        nVersione: versionePaIS
        stato: statusPaIS
        dataFinalizzazione: dataFinalizzazionePaIS
        dataFirma: dataFirmaPaIS
      example:
        nVersione: 1
        stato: 'Finalizzato'
        dataFinalizzazione: '2025/01/01'
        dataFirma: '2025/01/31'

    FSL.Api.Domain.Models.Gepi.CasoAssociatoMisura.QuadroAnalisi:
      type: object
      properties:
        nVersione:
          type: integer
          format: int32
        stato:
          type: string
        dataFinalizzazione:
          type: string
          nullable: true
      additionalProperties: false
      x-jsonld-type: https://w3id.org/italia/labour-social-policies/onto/social/QuadroDiAnalisiDelCaso
      x-jsonld-context:
        "@vocab": https://w3id.org/italia/labour-social-policies/onto/social/
        nVersione: versioneQuadroAnalisi
        stato: statusQuadroAnalisi
        dataFinalizzazione: dataFinalizzazioneQuadroAnalisi
      example:
        nVersione: 1
        stato: 'Finalizzato'
        dataFinalizzazione: '2025/01/01'

    FSL.Api.Domain.Models.Gepi.Esito:
      required:
        - codiceEsito
        - descrizioneEsito
      type: object
      properties:
        codiceEsito:
          minLength: 1
          type: string
        descrizioneEsito:
          minLength: 1
          type: string
      additionalProperties: false
    FSL.Common.Support.Models.Api.HealthCheckSuccess:
      type: object
      properties:
        status:
          type: string
        totalDuration:
          type: string
        entries: {}
        title:
          type: string
          nullable: true
        detail:
          type: string
          nullable: true
      additionalProperties: false
    Microsoft.AspNetCore.Mvc.ProblemDetails:
      type: object
      properties:
        type:
          type: string
          nullable: true
        title:
          type: string
          nullable: true
        status:
          type: integer
          format: int32
          nullable: true
        detail:
          type: string
          nullable: true
        instance:
          type: string
          nullable: true
      additionalProperties: {}

tags:
  - name: Gepi
    description: Gepi
  - name: Health Check API
    description: Health Check API
