openapi: 3.0.1
info:
  title: FSL
  description: Fascicolo Sociale e Lavorativo del Cittadino
  contact:
    name: DG Innovazione
    email: dginnovazionediv3@lavoro.gov.it
  version: 1.0.0
  x-summary: Fascicolo Sociale e Lavorativo del Cittadino
  x-semantic-score: 0.27
  x-semantic-score-timestamp: 1775577017169
servers:
  - url: https://apimlpstest.lavoro.gov.it/rest
    description: FSL Test Environment
  - url: https://apimlps.lavoro.gov.it/rest
    description: FSL Production Environment
paths:
  /fsl/puc/v1/partecipazioni-puc:
    post:
      tags:
        - Gepi
      summary: Consultazione dati della partecipazione PUC di un cittadino
      description: Dato il codice fiscale di un cittadino, il servizio restituisce le partecipazioni a un Progetto Utile alla Collettività (PUC)
      operationId: ConsultazionePartecipazioniPUC
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FSL.Api.Domain.Models.Gepi.ConsultazionePartecipazioniPUC.ConsultazionePartecipazioniPUC_Input'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FSL.Api.Domain.Models.Gepi.ConsultazionePartecipazioniPUC.ConsultazionePartecipazioniPUC_Output'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '404':
          description: Not Found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '500':
          description: Internal Server Error
  /status:
    get:
      tags:
        - Health Check API
      description: Returns the health status of this service
      operationId: HealthCheckStatus
      responses:
        '200':
          description: API service is healthy
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/FSL.Common.Support.Models.Api.HealthCheckSuccess'
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '500':
          description: Internal Server Error
        '503':
          description: API service is not healthy
components:
  schemas:
    FSL.Api.Domain.Models.Gepi.ConsultazionePartecipazioniPUC.ConsultazionePartecipazioniPUC_Input:
      required:
        - cFOperatore
        - codiceFiscale
        - modalitaAccesso
      type: object
      properties:
        codiceATS:
          type: string
          nullable: true
        comuni:
          type: array
          items:
            type: string
          nullable: true
        modalitaAccesso:
          type: integer
          format: int32
        cFOperatore:
          minLength: 1
          type: string
        codiceFiscale:
          minLength: 1
          type: string
      additionalProperties: false
    FSL.Api.Domain.Models.Gepi.ConsultazionePartecipazioniPUC.ConsultazionePartecipazioniPUC_Output:
      required:
        - data
        - esito
      type: object
      properties:
        esito:
          $ref: '#/components/schemas/FSL.Api.Domain.Models.Gepi.Esito'
        data:
          $ref: '#/components/schemas/FSL.Api.Domain.Models.Gepi.ConsultazionePartecipazioniPUC.Data'
      additionalProperties: false

    FSL.Api.Domain.Models.Gepi.ConsultazionePartecipazioniPUC.Data:
      type: object
      properties:
        partecipazioni:
          type: array
          items:
            $ref: '#/components/schemas/FSL.Api.Domain.Models.Gepi.ConsultazionePartecipazioniPUC.Partecipazione'
      additionalProperties: false
      x-jsonld-type: https://w3id.org/italia/labour-social-policies/onto/social/PartecipazionePUC
      x-jsonld-context:
        "@vocab": https://w3id.org/italia/labour-social-policies/onto/social/
        partecipazioni:
          '@id': haPartecipazionePUC
      example:
        partecipazioni:
          - identificativoPUC: '123456789123456789'
            titoloPUC: 'Titolo test PUC'
            descrizionePUC: 'Descrizione test PUC'
            dataInizioAttivita: '07-01-2025'
            dataFineAttivita: '31-12-2025'
            dataInizioPolizza: '01-01-2025'
            dataFinePolizza: '31-12-2025'
            stato: 1
            comune: '058091'



    FSL.Api.Domain.Models.Gepi.ConsultazionePartecipazioniPUC.Partecipazione:
      type: object
      properties:
        identificativoPUC:
          type: string
        titoloPUC:
          type: string
        descrizionePUC:
          type: string
        dataInizioAttivita:
          type: string
          nullable: true
        dataFineAttivita:
          type: string
          nullable: true
        dataInizioPolizza:
          type: string
        dataFinePolizza:
          type: string
        stato:
          type: integer
          format: int32
          nullable: true
        comune:
          type: string
          nullable: true
      additionalProperties: false
      x-jsonld-type: https://w3id.org/italia/labour-social-policies/onto/social/PartecipazionePUC
      x-jsonld-context:
        "@vocab": https://w3id.org/italia/labour-social-policies/onto/social/
        identificativoPUC: identificativoPUC
        titoloPUC: https://w3id.org/italia/labour-social-policies/onto/core/titoloPUC
        descrizionePuc: descrizionePuc
        dataInizioAttivita: dataInizioAttivitàPUC
        dataFineAttivita: dataFineAttivitàPUC
        dataInizioPolizza: dataInizioPolizzaAssicurativa
        dataFinePolizza: dataFinePolizzaAssicurativa
        stato: statusDiPUC
        comune:
          '@id': https://w3id.org/italia/onto/CLV/hasCity
          '@context':
              label: http://www.w3.org/2000/01/rdf-schema#label
      example:
        identificativoPUC: '123456789123456789'
        titoloPUC: 'Titolo test PUC'
        descrizionePUC: 'Descrizione test PUC'
        dataInizioAttivita: '07-01-2025'
        dataFineAttivita: '31-12-2025'
        dataInizioPolizza: '01-01-2025'
        dataFinePolizza: '31-12-2025'
        stato: 1
        comune: '058091'

    FSL.Api.Domain.Models.Gepi.Esito:
      required:
        - codiceEsito
        - descrizioneEsito
      type: object
      properties:
        codiceEsito:
          minLength: 1
          type: string
        descrizioneEsito:
          minLength: 1
          type: string
      additionalProperties: false
    FSL.Common.Support.Models.Api.HealthCheckSuccess:
      type: object
      properties:
        status:
          type: string
        totalDuration:
          type: string
        entries: {}
        title:
          type: string
          nullable: true
        detail:
          type: string
          nullable: true
      additionalProperties: false
    Microsoft.AspNetCore.Mvc.ProblemDetails:
      type: object
      properties:
        type:
          type: string
          nullable: true
        title:
          type: string
          nullable: true
        status:
          type: integer
          format: int32
          nullable: true
        detail:
          type: string
          nullable: true
        instance:
          type: string
          nullable: true
      additionalProperties: {}
tags:
  - name: Gepi
    description: Gepi
  - name: Health Check API
    description: Health Check API
